.header{
    display: block;

}

.logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
}

a:nth-of-type(1){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-1350%, 500%);
    color: grey;

}

a:nth-of-type(2){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-850%, 500%);
    color: grey;
}

a:nth-of-type(3){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-550%, 500%);
    color: grey;
}

a:nth-of-type(4){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(100%, 500%);
    color: grey;
}

a:nth-of-type(5){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(455%, 500%);
    color: grey;
}

a:nth-of-type(6){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(1090%, 500%);
    color: lightgrey;
}

p:nth-of-type(1){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-700%, 500%);
    color: lightgrey;
}

p:nth-of-type(2){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-350%, 500%);
    color: lightgrey;
}

p:nth-of-type(3){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-250%, 500%);
    color: lightgrey;
}

p:nth-of-type(4){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-10%, 500%);
    color: lightgrey;
}

p:nth-of-type(5){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(270%, 500%);
    color: lightgrey;
}

p:nth-of-type(6){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(350%, 500%);
    color: lightgrey;
}